{% load static %}
<!DOCTYPE html>
<html lang="en">

    <!-- Head -->
    {% include 'snippets/head.html' %}

<body>

  <!-- Navigation -->
  {% include 'snippets/navbar.html' %}

  <!-- Page Content -->
  <div class="container"> <!--awal container-->

    <div class="row"> <!-- awal wow-->

      <!-- content -->
      {% block content %}
      {% endblock content %}
      <!-- akhir content -->

      <!-- Sidebar Widgets -->
      {% include 'snippets/sidebar.html' %}
      <!-- akhir Sidebar Widgets -->

    </div> <!-- akhir row -->
    

  </div> <!-- akhir container -->
  

  <!-- Footer -->
  <footer class="bg-dark pt-4 pb-4">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>