{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Head -->
{% include 'snippets/head.html' %}

<body>

  <!-- Navigation -->
  {% include 'snippets/navbar.html' %}


  <!-- Content -->


  {% block content %}

  {% endblock content %}


  <!-- Sidebar Widgets Column -->
  {% include 'snippets/sidebar.html' %}

  </div> <!-- /.row -->


  </div> <!-- /.container -->


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <p class="text-white text-center">
          Copyright 2020 | Django Squad
        </p>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>